# --- Global ignores ---
*.zip

# Excel temp/lock files (never track)
~$*.xlsx

# Ignore ALL xlsx by default...
*.xlsx
# ...except anything under reports/
!reports/
!reports/**/*.xlsx

# Ignore ALL html by default...
*.html
# ...except anything under proc_html/
!proc_html/
!proc_html/**/*.html

# Local tools
.gmap/
.venv/
__pycache__/
*.pyc
.DS_Store
